:root {
    --borderColor: #a22338;
    --mainColor: #f0a7de;
    --secondColor: #d379b5;
    --mainFont: #fff;
    --secondFont: #eeeeee;
    --themeBorder: #b166a2;
    --previewBg: rgb(207, 152, 202);
    --previewShadow: #bf3573;
}